/** @format */

.footer {
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;
  .footer__logo {
    height: 38px;
  }

  .footer__about {
    p {
      margin-top: 2rem;
    }
  }

  .footer__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .footer__content {
    p {
      margin-bottom: 1.25rem;
    }
  }
}
